<h1><%= @creature.name %></h1>

<strong>Type</strong>: <%= @creature.type %> <br>
<strong>Description</strong>: <%= @creature.description %> <br>
<br>
<br>
<%= link_to "Back to Creatures", creatures_path %>
