<!DOCTYPE html>
<html>
<head>
  <title>Celmon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br>


</body>

<footer>
Hernandez, Malit, Pe Aguirre
</footer>



</html>